<%
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
include("/pages/template/head.html"){}
%>

<script type="text/javascript">
    var oper;
    jQuery(function($) {
        // 页面方法
        oper = {
            form : document.form1,
            list : function() {
                var url = 'admin/home';
                this.form.action = url;
                this.form.submit();
            }
        };
        //显示Menu索引
        showMenu('page_home');
    });

</script>

<%
};
%>

<%
var bodyContent = {
%>
<!-- 菜单 -->
<% include("/pages/template/menu.html"){} %>
<br/><br/>
<center><h3>开源演示地址，请不要删除非本人操作的系统基本数据。谢谢！！！</h3></center>
<center><h2>欢迎进入 XXXXXX 后台管理系统，如有相应需求与bug，可以联系(454979901@qq.com)</h2></center>
<center>bug更新如图，最新源码地址:https://git.oschina.net/supyuan/jfinal-admin (一般延迟三日左右)</center>
<center><img src="${cxt}/static/images/515.png" title="bug日志" width="1280" height="700"></center>

<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>
